build/
.idea/
node_modules/
.DS_Store
installed_contracts/
coverage*
dist
keeper_contracts.egg-info
venv
ganache-cli.log
target/
.python-version
artifacts/OceanAuth.development.json
artifacts/OceanDispute.development.json
artifacts/OceanExchange.development.json
artifacts/OceanMarket.development.json
artifacts/OceanRegistry.development.json
artifacts/OceanToken.development.json
