language: node_js
node_js:
  - "8"

services:
  - docker

cache:
  directories:
    - node_modules

env:
  -
  - SOLIDITY_COVERAGE=true
  - SOLC_NIGHTLY=true

matrix:
  fast_finish: true
  allow_failures:
    - env: SOLIDITY_COVERAGE=true
    - env: SOLC_NIGHTLY=true

before_install:
  - npm install -g npm
  - npm install -g ganache-cli release-it greenkeeper-lockfile

install:
  - npm install

before_script:
  - greenkeeper-lockfile-update
  - truffle version
  - ganache-cli > ganache-cli.log &

script:
  - npm test
  - truffle migrate
  - git add package-lock.json
  - git add artifacts/*
  - git commit -m 'Travis Build'
  - npm run release

after_script:
  - greenkeeper-lockfile-upload

notifications:
  email: false

deploy:
  - provider: npm
    email: "devops@oceanprotocol.com"
    api_key: ${NPM_TOKEN}
    skip_cleanup: true
    on:
      tags: true

  - provider: pypi
    distributions: sdist bdist_wheel
    user: ${PYPI_USER}
    password: ${PYPI_PASSWORD}
    on:
      tags: true
      repo: oceanprotocol/keeper-contracts
      python: 3.6


#  - provider: releases
#    api_key: ${GITHUB_OAUTH_TOKEN}
#    skip_cleanup: true
#    on:
#      tags: true
